-r requirements-base.txt

# TTV bark
-r requirements-bark.txt

# document loader
-r requirements-docloader.txt

# remove background
-r requirements-rmbg.txt

# stable diffusion
-r requirements-sd.txt

# watermark
-r requirements-watermark.txt
