-r requirements-base.txt

# TTS bark
-r requirements-bark.txt

# document loader
-r requirements-docloader.txt

# remove background
-r requirements-rmbg.txt

# stable diffusion
-r requirements-sd.txt

# watermark
-r requirements-watermark.txt

# computer vision
-r requirements-cv.txt

# system informations
-r requirements-sysinfo.txt

# instruct pix2pix
-r requirements-pix2pix.txt

# audio generation
-r requirements-audiogen.txt